/* ****************** fonts ******************** */
@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}
/* **************************** */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
*{
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 50px;
}
.logo{
    text-align: center;
    padding-top: 20 px;       

}
.logo img{
    height: 110px;
    padding-top: 20px;
}
@media ( max-width : 767px ){
    .logo img{
        height: 70px;
        padding-top: 1px;
    }
}
/* ***************** nav bar ************************** */
nav{
    height: 100 px;
    text-align: center;
    line-height: 100px;
    }

nav a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 3%;
    font-family: "Arial Black", Gadget, sans-serif;

}    
nav a:hover{
    color: darkcyan;
}
nav a.active{
    color: darkcyan;
}
@media(max-width : 767px){
    nav{
       line-height: 70px;
    }
    nav a{
    font-size: 10px;
    margin-right: 1.5%;
    }
}
/* *********************** home_banner * ************************** */
.banner{
    height: 590px;
    position: relative;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 13%;

}
@media (max-width: 767px){
    .banner{
        height: 370px;
    }
    .banner img{
        object-position: 1%;
    }
}
.banner-text{
    position:absolute;
    top: 130px;
    left: 50%;
    width: 50%;
}
.text-inside{
    margin: 2% auto;
}
.t1{
    background-color: white;
    display:inline-block;
    font-family: poller_oneregular;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 15px;
}
.t2{
    background-color: #252525;
    color: white;
    display:inline-block;     
    font-size: 20px;
    padding: 10px 15px;
}
.text-inside a{
    background-color: #0ba39c;
    display: inline-block;
    color: white;
    padding: 20px ;
    text-decoration: none;
    margin-top: 2%;
}
.text-inside a:hover{
    background-color: #4cede5;
}
@media (max-width: 767px) {
    .banner-text{
        top: 45px;
        left: 2%;
        width: 100%;
    }
    .t1{
        font-size:17px ;
        padding: 5px 10px;
        margin-bottom: 3%;
    }
    .t2{
        font-size:14px ;
    }
    .text-inside a{
        padding: 9px;
        font-size: 14px;
    }
}
/* ********************** characters ************************************ */
.character{
    margin: 2% auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.character div{
    width: calc(96% /3);       
}
.character img{
    width: 100%;       
    border: solid  black 2px;
    opacity: .8;   
    transition: .5s opacity;  
}
.character img:hover{
    opacity: 1;
}
.character span{
    display: block;   
    margin-top: 20px;
    font-size: 20px;
    font-family: 'poller_oneregular';
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 320px) {
    .character {
        flex-direction: column; 
        width: 90%; 
        margin-top: 5%;
    }

    .character div {
        width: 100%; 
        margin-bottom: 10px;
    }

    .character img {
        width: 100%; 
    }

    .character span {
        font-size: 23px;
        margin-top: 10px; 
    }
}
/* *********************** footer ************************** */
footer{
    background-color: #252525;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
   padding: 50 150;
   color: white;
   font-size:14px;
} 
 @media (max-width: 600px) {
    footer {
        height: auto;
        flex-direction: column; 
        padding: 20px; 
    }

    .footer-text {
        padding: 20px; 
        font-size: 12px; 
    }
}

.footer-icons{

    padding: 50 90;
    width: 50%;
    display: flex;
    justify-content: flex-end;
 } 
 .footer-icons a{
    background-color: violet;
    height: 44px;
    width: 44px;
    margin-left: 2%;
    display: inline-block;
    
}
.twetter{
    background-image: url("../images/icons/icon-twitter.jpg");
   
}
.face{
    background-image: url("../images/icons/icon-facebook.jpg");
} 
.google{
    background-image: url("../images/icons/icon-googleplus.jpg");
}
.pint{
    background-image: url("../images/icons/icon-pinterest.jpg");
}
/* ******************** about page *********************** */
.body-about{
    text-align: center;    
}
.about-title{
    background-color:black;
    color: #ffffff;
    font-size: 35px;
    display: inline-block;
    padding: 10;
    font-family: var(--write-font);
}

.img-about img{
    background-color: #0ba39c;
    border:black solid 2px;
    margin: 2% auto;
    width: 50%;
}
.about-text{
    width: 50%;
    margin: 2% auto;
}
.about-text span{
    font-weight: bolder;
    text-align: center;
    font-size: 17px;
    display: block;
}
.about-text > div{
    line-height: 24px;   
    text-align: center;
    padding: 15px;
    width: 98%;
    font-size: 14px;
    margin: 0% auto;    
    }
@media (max-width: 767px) {
    .about-title{
        font-size: 24px;
        padding: 7 15;
    }
    .img-about img{
        width: 90%;
    }
    .about-text{
        width: 100%;
    }
    .about-text span{
        font-size: 17px;
    }
}
/* *********************** GALLERY page ********************************* */
.gallery-text{
    text-align: center;
}
.gallery-text-inner{
    background-color:#252525;
    color: white;
    display: inline-block;
    font-size: 35px;
    font-family: var(--write-font);
    padding: 10px;
}
.gallery{
    display: flex;                   
    flex-wrap: wrap;                    
    justify-content: space-between;    
    width: 75%;                         
    margin: 2% auto;
}
.gallery > div{
    width: calc(96% / 3);
    margin-bottom: 20px;
}
.gallery img{
    border:black solid 2px ;
    width: 100%;            
    opacity: .8;
    transition: opacity .5s ;    
}
.gallery img:hover{
    opacity: 1; 
}
@media (max-width: 600px) {
    .gallery-text-inner{
        font-size: 25px;
        padding: 7 11px;
        margin-bottom: 2%;
    }
    .gallery{
        width: 90%; 
    }
    .gallery > div{
        width: 98%;
    }
}
/* ******************BLOG page****************** */
.blog-title{                  
    text-align: center;
}
.blog-title-inner{
    background: #252525;
    color: white;
    display: inline-block;
    font-size: 37px;
    font-family: var(--write-font);
    padding: 10 20px;
    margin-bottom: 1%;
    text-transform: uppercase;
}
.blog-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-skelton{
    margin: 1%;
    width: 76%;
    display: flex;
    border:black solid;
}
.blog-text{
    padding: 20;
    height: 70%;
    width: 80%;
    text-align: center;
    margin-top: 5%;
}
.blog-text span{
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.blog-text p{
    line-height: 24px;
    font-size: 14px;
    margin-top: 5%;
}
.blog-text div{
    background-color: black;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
}
.blog-text a{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 20px;  
    text-decoration: none;
}
.blog-text a:hover{
    background-color: white;
    color: black;
    border: black solid 2px;
}
.blog-skelton img{
    border-right: solid 2px;
    opacity: .8;
    transition: .5s;
}
.blog-skelton img:hover{
    opacity: 1;
}
@media (max-width:767px) {
    .blog-title-inner{
        font-size: 20px; 
        padding: 7 115px;
        margin-bottom: 5%;
    }
     .blog-skelton{
        margin: 1%;
        width: 90%;
       flex-direction: column;
    }
    .blog-text{
        width: 100%;
        margin-top: 1%;
    }
    .blog-text span{
        font-size: 28px;
    }
    .blog-text p{
        font-size: 14px;
    }
    .blog-skelton img{
        width: 100%;
    }
}
/* ******************** contact page******************** */
.contact-body {
    margin: 0 auto;
    width: 620px;
    text-align: center;
}

.contact-body title {
    display: inline;
}
.contact-body span{
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 10 20px;
}

.contact-body form {
    margin-top: 5% ;
}
 input,
 textarea {
    border: 2px solid #252525;
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
    padding: 20px 10px;
    width: 596px;
}

 textarea {
    height: 175px;
    resize: none;     
    overflow: auto;   
}

.contact-body button {
    background: #252525;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 20px 28px;
    border: solid rgb(26, 24, 24) 2px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.contact-body button:hover {
    background: #fff;
    color: #252525;
}
@media (max-width:767px) {
    .contact-body {
        width: 300px;
    }
    .contact-body span{
        font-size: 25px;   
        padding: 5 10px;
    }
    
    .contact-body form {
        margin-top: 10% ;
    }
     input,
     textarea {
        margin-bottom: 20px;
        padding: 12px 5px;
        width: 296px;
    }
     textarea {
        height: 200px;
    }
    .contact-body button {
        font-size: 15px;
        padding: 10px 12px;
    }
}



















